alembic
aniso8601
bcrypt
cffi
click
Flask===1.1.2
Flask-Bcrypt
Flask-Migrate
flask-restplus
Flask-Script
Flask-SQLAlchemy
Flask-Testing
flask-restx
itsdangerous===2.0.1
Jinja2<3.1.0
jsonschema
Mako
MarkupSafe
pycparser
PyJWT
python-dateutil
python-editor
pytz
six
SQLAlchemy
Werkzeug==2.0.3
tensorflow==2.15.0
scikit-learn==1.2.2
pandas
commit-linter
gunicorn